@font-face {
    font-family: 'SFUIDisplay';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/SFUIDisplayThin.woff2') format('woff2'),
         url('../fonts/SFUIDisplayThin.woff') format('woff');
}
@font-face {
    font-family: 'SFUIDisplay';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/SFUIDisplayLight.woff2') format('woff2'),
         url('../fonts/SFUIDisplayLight.woff') format('woff');
}
@font-face {
    font-family: 'SFUIDisplay';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/SFUIDisplayRegular.woff2') format('woff2'),
         url('../fonts/SFUIDisplayRegular.woff') format('woff');
}
@font-face {
    font-family: 'SFUIDisplay';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/SFUIDisplayMedium.woff2') format('woff2'),
         url('../fonts/SFUIDisplayMedium.woff') format('woff');
}
@font-face {
    font-family: 'SFUIDisplay';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/SFUIDisplaySemibold.woff2') format('woff2'),
         url('../fonts/SFUIDisplaySemibold.woff') format('woff');
}
@font-face {
    font-family: 'SFUIDisplay';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/SFUIDisplayBold.woff2') format('woff2'),
         url('../fonts/SFUIDisplayBold.woff') format('woff');
}
@font-face {
    font-family: 'SFUIDisplay';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/SFUIDisplayBlack.woff2') format('woff2'),
         url('../fonts/SFUIDisplayBlack.woff') format('woff');
}
@font-face {
    font-family: 'PTSans';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/PTSansNarrowRegular.woff2') format('woff2'),
         url('../fonts/PTSansNarrowRegular.woff') format('woff');
}
@font-face {
    font-family: 'PTSans';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/PTSansNarrowBold.woff2') format('woff2'),
         url('../fonts/PTSansNarrowBold.woff') format('woff');
}
@font-face {
    font-family: 'SantaFeLet';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/SantaFeLetPlain.woff2') format('woff2'),
         url('../fonts/SantaFeLetPlain.woff') format('woff');
}
@font-face {
    font-family: 'AmericanTypeWriter';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/AmericanTypeWriterBold.woff2') format('woff2'),
         url('../fonts/AmericanTypeWriterBold.woff') format('woff');
}
@font-face {
    font-family: 'LcdAttPhone';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/LcdAttPhoneTimeDate.woff2') format('woff2'),
         url('../fonts/LcdAttPhoneTimeDate.woff') format('woff');
}