@import '_fonts.scss';

$electrician: #55e1ff;
$dark-pink: #ff787e;
$light-pink : #f59898;
$white: #fff;
$black: #060606;
$gray: #1d1e1e;
$dark-gray: #171818;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
* {
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",'SFUIDisplay', Helvetica, Arial, sans-serif;
    font-size: 33px;
    background: #121313;
    user-select: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.heading {
    font-family: 'PTSans';
    font-weight: 700;
    text-transform: uppercase;
    color: $white;

    span {
        color: $electrician;
    }
}
h1.heading {
    font-size: 74px;
    text-align: center;
}
h2.heading {
    font-size: 60px;
    padding-bottom: 0.41em;
}
.button {
    background: $dark-pink;
    cursor: pointer;
    width: 10.66em;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: $white;
    line-height: 3em;
    border-radius: 5px;
    border-style: none;
    text-transform: uppercase;
    opacity: 0.9;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.55);
    margin-top: 1.66em;

    a {
      text-decoration: none;
    }
}
.section {
    position: relative;
    
    &_accounts {
        background: radial-gradient(120% 63% at bottom, rgba(26, 36, 58, 0.71) 25%, rgba(18, 19, 19, 1) 61%);
    }
    &_advantages {
        background: radial-gradient(58% 32% at bottom, rgba(66, 101, 158, 0.67) 34%, rgba(18, 19, 19, 1) 90%);
    }
    &_intro {
        height: 740px;
        background: url('../images/header_bc.jpg') no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 22.5em;
    }
    &__inner {
        max-width: 1280px;
        margin: 0 auto;
        padding: 3.93em 0 1.81em 0;

        &_partners {
            padding: 0;
        }
    }
    &__text {
    position: relative;
    padding-bottom: 0.758em;
    color: $white;
    text-transform: uppercase;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 9.09em;
            height: 0.12em;
            background: $white;
            border-radius: 10px;

            .section_intro & {
                right: 0;
                margin: 0 auto;
                max-width: 100%;
            }
        }
        .section_partners & {
            position: absolute;
            top: 5vw;
        }
        &_upper {
            text-transform: uppercase;
        }
        &_center {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                width: 9.09em;
                height: 0.12em;
                background: $white;
                border-radius: 10px;
            }
            & p {
                text-align: center;
            }
        }
        &_alterWidth {
             max-width: 100%;
        }
    }
    &_games {
        background: $gray;
        background: radial-gradient(57% 40% at 50% 68%, rgba(39, 61, 58, 1) 29%, #1d1e1e 82%);
    }
    &_register {
        background: $gray;
    }
    &_form {
        text-align: center;
    }
    &_players {
        background: radial-gradient(ellipse farthest-side at 24% 55%, rgba(25, 42, 40, 0.9) 18%, rgba(18, 19, 19, 1) 56%);
    }
    &_partners {
        background: #181919;
        max-height: 100%;
    }
}
.partners {
    position: absolute;
    bottom: 9vw;
    right: 14vw;

        p {
            font-size: 22px;
            font-weight: 100;
            color: rgb(255, 255, 255);
            line-height: 1.5;
        }
}
.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1280px;
    height: 55px;    
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 0.60em;
    box-shadow: -5px 7px 74px -2px rgba(0,0,0,0.3);

    &__logo {
      position: absolute;
      top: -15px;
    }
}
.nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.menu {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-right: 0.7em;

    &__item a {
        color: $white;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 500;
        vertical-align: middle;

    }
    & li:nth-child(5) {
          margin-right: 200px;
        }
    &__item a {
      transition: .2s all linear;
    }
    &__item a:hover {
      box-shadow: 0 2px 0 $white;
    }
    & li.active a {
      box-shadow: 0 2px 0 $white;
    }
}
.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6em;

  &__feedback {
      text-transform: uppercase;
      font-size: 12px;
      color: $light-pink;
      letter-spacing: 0.5px;
      font-weight: 600;
      background-color: #202020;
      border-bottom-right-radius: 7px;
      padding: 1.75em 1.9em;
    }
}
.gallery {
    padding-bottom: 0.454em;

    &__text {
        padding-top: 2.05em;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        color: #faff69;
    }
    &__item {
        opacity: 1 !important;
    }
    &__img {
        box-shadow: 0 0 60px 17px rgba(19, 21, 21, 1);
    }
}
/*CAROUSEL*/
.flipster {
  overflow-y: hidden;
  overflow-x: hidden;
}
.flipster__item img {
  max-width: 100%;
}
/*.flipster__item--past .flipster__item__content {
  transform-origin: 0% 50% !important;
  transform: scale(0.75) rotateY(20deg) !important;
}*/
.flipster__item--future .flipster__item__content {
    text-align: right;
    /*transform-origin: 80% 50% !important;
    transform: scale(0.75) rotateY(-20deg) !important;*/
}
/*CARDS*/
.card_1 {
  animation: firstCard 1.5s linear;
}
.card_2 {
  animation: secondCard 1.5s linear;
}
.card_3 {
  animation: thirdCard 1.5s linear;
}
.card_4 {
  animation: fourthCard 1.5s linear;
}
.card_5 {
  animation: fifthCard 1.5s linear;
}
.card_6 {
  animation: sixthCard 1.5s linear;
}
.card_7 {
  animation: seventhCard 1.5s linear;
}
.card_8 {
  animation: eighthCard 1.5s linear;
}
.card_9 {
  animation: ninthCard 1.5s linear;
}
.card_10 {
  animation: tenthCard 1.5s linear;
}
.card_11 {
  animation: eleventhCard 1.5s linear;
}
.card_12 {
  animation: twelfthCard 1.5s linear;
}
.card_13 {
  animation: thirteenthCard 1.5s linear;
}
.card_14 {
  animation: fourteenthCard 1.5s linear;
}
.card_15 {
  animation: fifteenthCard 1.5s linear;
}
.card_16 {
  animation: sixteenthCard 1.5s linear;
}
.card_17 {
  animation: seventeenthCard 1.5s linear;
}
.card_18 {
  animation: eighteenthCard  1.5s linear;
}
.card_19 {
  animation: nineteenthCard 1.5s linear;
}
.card_20 {
  animation: twentiethCard 1.5s linear;
}
.card_21 {
  animation: twenty-firstCard 1.5s linear;
}
.card_22 {
  animation: twenty-twoCard 1.5s linear;
}
.card_23 {
  animation: twenty-threeCard 1.5s linear;
}
.card_24 {
  animation: twenty-fourCard 1.5s linear;
}
.card_25 {
  animation: twenty-fiveCard 1.5s linear;
}
.card_26 {
  animation: twenty-sixCard 1.5s linear;
}
.card_27 {
  animation: twenty-sevenCard 1.5s linear;
}
.card {
  position: absolute;
  bottom: calc(50% - 42px);
  left: calc(50% - 30px);
  width: 60px;
  height: 85px;
  border: 0.5px solid black;
  background: darkblue;
  z-index: -1;
  display: none;

  .flipster__item--current & {
    display: block;
  }
}
@keyframes firstCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(400px, -500px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(400px, -500px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(400px, -500px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes secondCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(290px, -480px) rotate3d(1, 1, 1, 390deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(290px, -480px) rotate3d(1, 1, 1, 390deg);
    opacity: 0;
  }
  100% {
    transform: translate(290px, -480px) rotate3d(1, 1, 1, 390deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes thirdCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(250px, -400px) rotate3d(5, 3, 4, 810deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(250px, -400px) rotate3d(5, 3, 4, 810deg);
    opacity: 0;
  }
  100% {
    transform: translate(250px, -400px) rotate3d(5, 3, 4, 810deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes fourthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(200px, -450px) rotate3d(1, 1, 1, 280deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(200px, -450px) rotate3d(1, 1, 1, 280deg);
    opacity: 0;
  }
  100% {
    transform: translate(200px, -450px) rotate3d(1, 1, 1, 280deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes fifthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(100px, -370px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(100px, -370px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(100px, -370px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes sixthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(50px, -350px) rotate(350deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(50px, -350px) rotate(350deg);
    opacity: 0;
  }
  100% {
    transform: translate(50px, -350px) rotate(350deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes seventhCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(-50px, -350px) rotate3d(1, 1, 1, 630deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(-50px, -350px) rotate3d(1, 1, 1, 630deg);
    opacity: 0;
  }
  100% {
    transform: translate(-50px, -350px) rotate3d(1, 1, 1, 630deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes eighthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(200px, -440px) rotate3d(1, 1, 1, 320deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(200px, -440px) rotate3d(1, 1, 1, 320deg);
    opacity: 0;
  }
  100% {
    transform: translate(200px, -440px) rotate3d(1, 1, 1, 320deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes ninthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(200px, -350px) rotate(360deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(200px, -350px) rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: translate(200px, -350px) rotate(360deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes tenthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(200px, -370px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(200px, -370px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(200px, -370px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes eleventhCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(-200px, -300px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(-200px, -300px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(-200px, -300px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes twelfthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(100px, -300px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(100px, -300px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(100px, -300px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes thirteenthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(20px, 320px) rotate3d(1, 1, 1, 810deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(20px, 320px) rotate3d(1, 1, 1, 810deg);
    opacity: 0;
  }
  100% {
    transform: translate(20px, 320px) rotate3d(1, 1, 1, 810deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes fourteenthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(50px, 250px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(50px, 250px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(50px, 250px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes fifteenthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(120px, 280px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(120px, 280px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(120px, 280px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes sixteenthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(-200px, -330px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(-200px, -330px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(-200px, -330px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes seventeenthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(-180px, -290px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(-180px, -290px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(-180px, -290px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes eighteenthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(200px, -400px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(200px, -400px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(200px, -400px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes nineteenthCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(70px, -340px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(70px, -340px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(70px, -340px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes twentiethCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(80px, -380px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(80px, -380px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(80px, -380px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes twenty-firstCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(115px, -310px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(115px, -310px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(115px, -310px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes twenty-twoCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(200px, -350px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(200px, -350px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(200px, -350px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes twenty-threeCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(-100px, -350px) rotate3d(1, 1, 1, 340deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(-100px, -350px) rotate3d(1, 1, 1, 340deg);
    opacity: 0;
  }
  100% {
    transform: translate(-100px, -350px) rotate3d(1, 1, 1, 340deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes twenty-fourCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(120px, -330px) rotate3d(1, 1, 1, 540deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(120px, -330px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
  }
  100% {
    transform: translate(120px, -330px) rotate3d(1, 1, 1, 540deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes twenty-fiveCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(-80px, 270px) rotate3d(1, 1, 1, 390deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(-80px, 270px) rotate3d(1, 1, 1, 390deg);
    opacity: 0;
  }
  100% {
    transform: translate(-80px, 270px) rotate3d(1, 1, 1, 390deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes twenty-sixCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(-70px, 300px) rotate3d(1, 1, 1, 520deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(-70px, 300px) rotate3d(1, 1, 1, 520deg);
    opacity: 0;
  }
  100% {
    transform: translate(-70px, 300px) rotate3d(1, 1, 1, 520deg);
    opacity: 0;
    z-index: 10;
  }
}
@keyframes twenty-sevenCard {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    transform: translate(-120px, 300px) rotate3d(1, 1, 1, 440deg);
    opacity: 0.04;
  }
  75% {
    transform: translate(-120px, 300px) rotate3d(1, 1, 1, 440deg);
    opacity: 0;
  }
  100% {
    transform: translate(-120px, 300px) rotate3d(2, 2, 2, 440deg);
    opacity: 0;
    z-index: 10;
  }
}


/*CAROUSEL END*/
.suppliers {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 5.3em 5.3em 5.3em;
    grid-gap: 0.3em 0.3em;
    padding: 0.9em 0 0.45em 0;

    &__item {
        display: grid;
        align-items: center;
        background: $gray;
        justify-content: center;
        padding: 0.3em;

        &:nth-child(1) {
            grid-row: 1/3;
        }
        &:nth-child(2) {
            grid-row: 1/3;
        }
    }
}
.account {
    display: flex;
    justify-content: center;
    padding: 1.06em 0 3.93em 0;
}
.presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0.55em;
    flex: 1 1 160.33px;

    &__item {
        position: relative;
        max-width: 33%;
        margin: auto;
        overflow: hidden;
        
        &_info h5 {
            position: absolute;
            top: 6.42%;
            left: 7.4%;
            opacity: 1;
            font-size: 24px;
            font-family: 'PTSans';
            font-weight: 400;
            text-transform: uppercase;
            color: #ff5d5d;
        }
        &_pop-up p {
            color: $white;
            font-size: 24px;
            font-weight: 100;
        }
        &_pop-up {
            position: absolute;
            width: 100%;
            top: 19%;
            left: 40%;
            opacity: 0;
            transform: translate(0%, 0%);
            transition: all 0.21s ease-in-out 0.13s;
        }
        &:hover .presentation__item_pop-up {
            top: 18.3%;
            left: 7.4%;
            opacity: 1;
        }
        &-overlay {
            background: rgba(0,0,0,1);
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: all 0.2s ease-in-out 0s;
        }
        &:hover .presentation__item-overlay {
            opacity: 0.7;
        }
    }
}
.register {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4.24em 0;

    &__item {
        position: relative;
        z-index: 1;
        text-align: center;
        max-width: 33%;
        
        &:before {
            position: absolute;
            z-index: -1;
            line-height: .2;
            color: $dark-gray;
            opacity: 0.8;
            font-size: 415px;
            font-weight: 800;
        }
        &:nth-child(1):before {
            content: '1';
            left: 10%;
        }
        &:nth-child(2):before {
            content: '2';
            left: 3%;
        }
        &:nth-child(3):before {
            content: '3';
            left: 2%;
        }
    }
    img {
        padding-bottom: 0.91em;
    }
    h3 {
        font-family: 'PTSans';
        font-size: 24px;
        font-weight: 400;
        color: #ff5d5d;
        text-transform: uppercase;

    }
}
.jackpot {
    max-width: 1280px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(50, 52, 52, 0.8);


    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__text {
        padding: 1.81em 0 0.9em 1.36em;
    }
    &__interior {
        padding: 0 0.4em;
    }
    &__caption {
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 0.54em;

        &_green {
            color: green;
        }
        &_yellow {
            color: yellow;
        }
    }

    &__description {
        font-size: 18px;
        font-weight: 100;
        color: $white;
        line-height: 1.2;
    }
    &-wb {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.3em 0.75em;
        position: relative;
        overflow: hidden;
        border-radius: 0.6em;
    }
    &-wb_yellow {
        color: #fff770;
        background: #0a0f17 radial-gradient(ellipse at center bottom, rgba(255, 247, 112, 0.3) 0%, transparent 80%);
        box-shadow: -4px 6px 20px 0.5px rgba(26, 26, 16, 1), 0px 9px 68px 0.8em rgba(32, 32, 24, 1);
    }
    &-wb_green {
        color: #2bfd62;
        background: #0a0f17 radial-gradient(ellipse at center bottom, rgba(43,253,98,0.3) 0%, transparent 80%);
        box-shadow: -4px 6px 20px 0.5px rgba(10, 24, 17, 1), 0px 9px 68px 0.8em rgba(25, 39, 31, 1);
    }
    &-wb__text-wrap {
        padding: 0px 1.21em 0 0;
        position: relative;
    }
    &-wb__text-wrap svg {
        height: 100%;
        width: 6.8em;
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.086em;
        fill: currentColor;
    }
    &-wb__num-box {
        font-family: 'LcdAttPhone';
        font-weight: 400;
        font-size: 94px;
        position: relative;
    }
    &-wb__back {
        opacity: 1;
        color: #000;
    }
    &-wb__face {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 100%;
    }
    &__bonus {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-family: 'SantaFeLet';
        font-size: 95px;
        font-weight: 600;
        color: #ff5d5d;
        padding: 3.4vw 0 5.85vw 0;

        p {
                padding: 0.11em 0;
            }
    }
}
.conditions {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 225px 225px;
    grid-gap: 0.4vw 0.4vw;
    text-align: center;
    padding: 0 0.7vw 3.78em 0.7vw;
    
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #1b1d1d;

        &:nth-child(1) {
            grid-row: 1/3;

            img {
                margin-top: 1.36em;
            }
            p {
                margin-top: 3.43em;
            }
        }
        &:nth-child(2) {
            grid-row: 1/3;

            img {
                margin: 0.9em 0.45em 0px 0px;
            }
            p {
                margin-top: 4.68em;
            }
        }
        &:nth-child(3) {

            p {
                margin-top: 1.56em;
            }
        }
        &:nth-child(4) {

            img {
                margin-top: 0.6em;
            }
            p {
                margin-top: 1.87em;
            }
        }
        &:nth-child(5) {

            p {
                margin-top: 1.87em;
            }
        }
        &:nth-child(6) {

            p {
                margin-top: 1.87em;
            }
        }
    }
    p {
      font-size: 16px;
      line-height: 1.4;
      color: $white;
    }
}
.partners-img {
    display: block;
    margin: 0 auto;
}
.description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em 0 2em;

    p {
        font-size: 18px;
        font-weight: 400;
        color: $white;
    }
    &__text {
        position: relative;
        bottom: 1.9em;

        p {
            padding-bottom: 1.95em;
        }
    }
    &__image {
      position: relative;
      top: 0.15vw;
        
      &_text-one {
        position: absolute;
        top: -1%;
        left: -4%;
      }
      &_text-two {
        position: absolute;
        top: 8%;
        right: 26.8%;  
      }
    }
}
.footer {

    &__input {
        max-width: 13.33em;
        margin: 0 auto;

        &_div-input {
            padding: 1.36em 0 0 0;
            position: relative;
        }
        &_div-input:after, _div-input:before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 1px;
            background-color: #ff787e; 
            bottom: 0;
            left: 0;
            text-transform: uppercase;
        }
    }
    &__item {
        position: relative;
        background: transparent;
        width: 100%;
        border: none;
        outline: none;
        padding: 0 0 0.86em 0;
        font-size: 15px;
        text-align: center;
        color: $white;
    }
    :focus::-webkit-input-placeholder {color: transparent}
    :focus::-moz-placeholder {color: transparent}
    :focus:-moz-placeholder {color: transparent}
    :focus:-ms-input-placeholder {color: transparent}
    ::-webkit-input-placeholder {color:$white; text-transform: uppercase;}
    :-moz-placeholder {color:$white; text-transform: uppercase;}
    :-moz-placeholder {color:$white; text-transform: uppercase;}
    :-ms-input-placeholder {color:$white; text-transform: uppercase;}
    &__button {

      &_div-button {
          padding: 2.12em 0 4.24em 0;
          display: flex;
          justify-content: center;
      }
    }
    &__text {
        max-width: 1045px;
        margin: 0 auto;
        padding: 0 0.9em 3.09em 0.9em;

        p {
            font-size: 12px;
            font-weight: 300;
            color: rgba(95, 95, 95, 0.8);
        }
    }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1279px) {
    /*.flipster {
      overflow-y: hidden;
      overflow-x: hidden;
    }
    .flipster--coverflow .flipster__item__content {
      transform-origin: 50% 50%;
    }
    .flipster--carousel .flipster__item--current .flipster__item__content {
      transform: translateX(0) rotateY(0deg) scale(0.6);
    }
    .flipster--coverflow .flipster__item--future .flipster__item__content {
      transform-origin: 60% 50%;
      transform: scale(0.35) rotateY(-50deg);
    }
    .flipster--coverflow .flipster__item--past .flipster__item__content {
      transform-origin: 40% 50%;
      transform: scale(0.35) rotateY(50deg);
    }*/
    body {
      font-size: 28px;
    }
    .body-opened {
      overflow: hidden;
    }
    h1.heading {
      font-size: 60px;
    }
    h2.heading {
      font-size: 50px;
    }
    .section {

        &__inner {
            padding: 3.93em 1.2em 1.81em 1.2em;
        }
    }
    .header {
      display: flex;
      align-items: inherit;
      top: 0;
      left: 0;
      height: 50px;
      width: 100%;
      background: rgba(0, 0, 0, 1);
      transition: all 0.3s ease-out, background 1s ease-out;
      transition-delay: 0.2s;
      z-index: 100;
      padding-left: 0;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      &__logo {
        
        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        & img {
          max-width: 90%;
        }
      }
      &__burger-container {
        position: relative;
        display: inline-block;
        height: 50px;
        left: 96%;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        user-select: none;

        & #burger {
          width: 18px;
          height: 8px;
          position: relative;
          display: block;
          margin: -4px auto 0;
          top: 50%;

          & .bar {
            width: 100%;
            height: 1px;
            display: block;
            position: relative;
            background: $white;
            transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
            transition-delay: 0s;

            &.topBar {
              transform: translateY(0px) rotate(0deg);
            }
            &.btmBar {
              transform: translateY(6px) rotate(0deg);
            }
          }
        }
      }
      &__icon {
        display: inline-block;
        position: absolute;
        height: 100%;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        color: $white;
        font-size: 22px;
        left: 50%;
        transform: translateX(-50%);
      }
      & ul.menu {
        position: relative;
        display: block;
        padding: 3.5em 1.2em;
        list-style: none;

        & li.menu__item {
          border-bottom: 1px solid #333;
          transform: scale(1.15) translateY(-30px);
          opacity: 0;
          transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0s cubic-bezier(0.4, 0.01, 0.165, 0.99);

          & a {
            display: block;
            position: relative;
            color: $white;
            font-weight: 100;
            font-size: 19px;
            text-transform: inherit;
            line-height: 2.35;
            font-weight: 300;
            width: 100%;
          }
        }
      }
      &.menu-opened {
        height: 100%;
        background-color: #000;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;

        & .header__burger-container {
          transform: rotate(90deg);

          & #burger .bar {
            transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
            transition-delay: 0.2s;

            &.topBar {
              transform: translateY(4px) rotate(45deg);
            }
            &.btmBar {
              transform: translateY(3px) rotate(-45deg);
            }
          }
        }
        & ul.menu li.menu__item {
          visibility: visible;
          transition-delay: 0s;
          transform: translateZ(0);
          opacity: 1;

          &:nth-child(1) {transition-delay: 0.27s;}
          &:nth-child(2) {transition-delay: 0.34s;}
          &:nth-child(3) {transition-delay: 0.41s;}
          &:nth-child(4) {transition-delay: 0.48s;}
          &:nth-child(5) {transition-delay: 0.55s;}
          &:nth-child(6) {transition-delay: 0.62s;}
          &:nth-child(7) {transition-delay: 0.69s;}
          &:nth-child(8) {transition-delay: 0.76s;}
          &:nth-child(9) {transition-delay: 0.83s;}
        }
      }
    }
    .nav {
      visibility: hidden;
      transition: visibility 0s linear 1s;
      padding: 0.5em 1em 0 0;
    }
    .contacts {
      display: none;
    }
    .menu {
        
        & li:nth-of-type(5) {
          margin-right: 0;
        }
    }
    .button {
        font-size: 14px;
    }
    .suppliers {
        padding: 0.3em;
    }
    .account {
        padding: 2.72em 0.5em 3.93em 0.5em;

        & img {
            max-height: 10.5em;
        }
    }
    .presentation {

        &__item {
            
            &_info h5 {
                font-size: 22px;
            }
            &_pop-up p {
                font-size: 22px;
            }
        }
    }
    .jackpot {
        
        &__container {
            justify-content: space-around;
        }
        &__interior {
            flex: 1 50%;
        }
        &__caption {
            font-size: 17px;
        }
        &__description {
            font-size: 17px;
        }
        &__bonus {
            font-size: 76px;
        }
        &-wb {
            justify-content: space-around;
        }
        &-wb__text-wrap svg {
            width: 6.2em;
        }
        &-wb__num-box {
            font-size: 66px;
        }
    }
    .conditions {

        &__item {
            padding: 1em 1em;
            
            p {
                font-size: 15px;
            }
        }
    }
    .partners {
      bottom: 9vw;
      right: 10vw;

        p {
            font-size: 18px;
            line-height: 1.3;
        }
    }
    .description {

      p {
        font-size: 16px;
        }
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    body {
      font-size: 24px;
    }
    .body-opened {
      overflow: hidden;
    }
    h1.heading {
      font-size: 52px;
    }
    h2.heading {
      font-size: 46px;
    }
    .section {
        
        &__inner {
            padding: 3.93em 1.2em 1.81em 1.2em;
        }
    }
    .header {
      display: flex;
      align-items: inherit;
      top: 0;
      left: 0;
      height: 50px;
      width: 100%;
      background: rgba(0, 0, 0, 1);
      transition: all 0.3s ease-out, background 1s ease-out;
      transition-delay: 0.2s;
      z-index: 100;
      padding-left: 0;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      &__logo {
        
        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        & img {
          max-width: 90%;
        }
      }
      &__burger-container {
        position: relative;
        display: inline-block;
        height: 50px;
        left: 95%;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        user-select: none;

        & #burger {
          width: 18px;
          height: 8px;
          position: relative;
          display: block;
          margin: -4px auto 0;
          top: 50%;

          & .bar {
            width: 100%;
            height: 1px;
            display: block;
            position: relative;
            background: $white;
            transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
            transition-delay: 0s;

            &.topBar {
              transform: translateY(0px) rotate(0deg);
            }
            &.btmBar {
              transform: translateY(6px) rotate(0deg);
            }
          }
        }
      }
      &__icon {
        display: inline-block;
        position: absolute;
        height: 100%;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        color: $white;
        font-size: 22px;
        left: 50%;
        transform: translateX(-50%);
      }
      & ul.menu {
        position: relative;
        display: block;
        padding: 3.5em 1.2em;
        list-style: none;

        & li.menu__item {
          border-bottom: 1px solid #333;
          transform: scale(1.15) translateY(-30px);
          opacity: 0;
          transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0s cubic-bezier(0.4, 0.01, 0.165, 0.99);

          & a {
            display: block;
            position: relative;
            color: $white;
            font-weight: 100;
            font-size: 18px;
            text-transform: inherit;
            line-height: 2.35;
            font-weight: 300;
            width: 100%;
          }
        }
      }
      &.menu-opened {
        height: 100%;
        background-color: #000;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;

        & .header__burger-container {
          transform: rotate(90deg);

          & #burger .bar {
            transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
            transition-delay: 0.2s;

            &.topBar {
              transform: translateY(4px) rotate(45deg);
            }
            &.btmBar {
              transform: translateY(3px) rotate(-45deg);
            }
          }
        }
        & ul.menu li.menu__item {
          visibility: visible;
          transition-delay: 0s;
          transform: translateZ(0);
          opacity: 1;

          &:nth-child(1) {transition-delay: 0.27s;}
          &:nth-child(2) {transition-delay: 0.34s;}
          &:nth-child(3) {transition-delay: 0.41s;}
          &:nth-child(4) {transition-delay: 0.48s;}
          &:nth-child(5) {transition-delay: 0.55s;}
          &:nth-child(6) {transition-delay: 0.62s;}
          &:nth-child(7) {transition-delay: 0.69s;}
          &:nth-child(8) {transition-delay: 0.76s;}
          &:nth-child(9) {transition-delay: 0.83s;}
        }
      }
    }
    .nav {
      visibility: hidden;
      transition: visibility 0s linear 1s;
      padding: 0.5em 1em 0 0;
    }
    .menu {
        
        & li:nth-of-type(5) {
          margin-right: 0;
        }
    }
    .contacts {
        display: none;
    }




    .button {
        font-size: 13px;
    }
    .suppliers {
        padding: 0.3em;
    }
    .account {
        padding: 2.72em 0.5em 3.93em 0.5em;

        & img {
            max-height: 9.5em;
        }
    }
    .presentation {

        &__item {
         
            &_info h5 {
                font-size: 20px;
            }
            &_pop-up p {
                font-size: 17px;
            }
        }
    }
    .register {

        &__item {
        
            &:before {
                font-size: 300px;
            }
        }
        h3 {
            font-size: 20px;
        }
    }
    .jackpot {
        
        &__interior {
            flex: 1 51%;
            margin: 0 auto;
            padding: 0 19%;
        }
        &__caption {
            font-size: 16px;
        }
        &__description {
            font-size: 16px;
        }
        &__bonus {
            flex-direction: column;
            align-items: center;
            font-size: 60px;
        }
        &-wb {
            justify-content: space-around;
        }
        &-wb__text-wrap svg {
            width: 6.5em;
        }
        &-wb__num-box {
            font-size: 64px;
        }
    }
    .conditions {

        &__item {
            padding: 1em 0.6em;

            p {
                font-size: 14px;
            }
        }
    }
    .partners {
      bottom: 9vw;
      right: 6vw;

        p {
            font-size: 15px;
            line-height: 1.3;
        }
    }
    .description {
      justify-content: space-between;
      flex-direction: column-reverse;

      &__text {
        bottom: 0;

        p {
          text-align: center;
          font-size: 17px;

          br {
            display: none;
          }
        }
      }
      &__image {
        
        p {
          font-size: 17px;
        }
        &_text-one {
          top: -2%;
          left: -5%;
        }
        &_text-two {
          top: 7%;
          right: 25.5%;
        }
      }
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    body {
      font-size: 20px;
    }
    .body-opened {
      overflow: hidden;
    }
    h1.heading {
      font-size: 40px;
    }
    h2.heading {
      font-size: 40px;
    }
    .section {
        
        &__text {
            
            &_center {
                text-align: center;

                & br {
                    display: none;
                }
            }
        }
        &__inner {
            padding: 3.93em 1.2em 1.81em 1.2em;

        }
    }
    .header {
      display: flex;
      align-items: inherit;
      top: 0;
      left: 0;
      height: 50px;
      width: 100%;
      background: rgba(0, 0, 0, 1);
      transition: all 0.3s ease-out, background 1s ease-out;
      transition-delay: 0.2s;
      z-index: 100;
      padding-left: 0;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      &__logo {
        
        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        & img {
          max-width: 90%;
        }
      }
      &__burger-container {
        position: relative;
        display: inline-block;
        height: 50px;
        left: 93%;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        user-select: none;

        & #burger {
          width: 18px;
          height: 8px;
          position: relative;
          display: block;
          margin: -4px auto 0;
          top: 50%;

          & .bar {
            width: 100%;
            height: 1px;
            display: block;
            position: relative;
            background: $white;
            transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
            transition-delay: 0s;

            &.topBar {
              transform: translateY(0px) rotate(0deg);
            }
            &.btmBar {
              transform: translateY(6px) rotate(0deg);
            }
          }
        }
      }
      &__icon {
        display: inline-block;
        position: absolute;
        height: 100%;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        color: $white;
        font-size: 22px;
        left: 50%;
        transform: translateX(-50%);
      }
      & ul.menu {
        position: relative;
        display: block;
        padding: 3.5em 1.2em;
        list-style: none;

        & li.menu__item {
          border-bottom: 1px solid #333;
          transform: scale(1.15) translateY(-30px);
          opacity: 0;
          transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0s cubic-bezier(0.4, 0.01, 0.165, 0.99);

          & a {
            display: block;
            position: relative;
            color: $white;
            font-weight: 100;
            font-size: 17px;
            text-transform: inherit;
            line-height: 2.35;
            font-weight: 300;
            width: 100%;
          }
        }
      }
      &.menu-opened {
        height: 100%;
        background-color: #000;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;

        & .header__burger-container {
          transform: rotate(90deg);

          & #burger .bar {
            transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
            transition-delay: 0.2s;

            &.topBar {
              transform: translateY(4px) rotate(45deg);
            }
            &.btmBar {
              transform: translateY(3px) rotate(-45deg);
            }
          }
        }
        & ul.menu li.menu__item {
          visibility: visible;
          transition-delay: 0s;
          transform: translateZ(0);
          opacity: 1;

          &:nth-child(1) {transition-delay: 0.27s;}
          &:nth-child(2) {transition-delay: 0.34s;}
          &:nth-child(3) {transition-delay: 0.41s;}
          &:nth-child(4) {transition-delay: 0.48s;}
          &:nth-child(5) {transition-delay: 0.55s;}
          &:nth-child(6) {transition-delay: 0.62s;}
          &:nth-child(7) {transition-delay: 0.69s;}
          &:nth-child(8) {transition-delay: 0.76s;}
          &:nth-child(9) {transition-delay: 0.83s;}
        }
      }
    }
    .nav {
      visibility: hidden;
      transition: visibility 0s linear 1s;
      padding: 0.5em 1em 0 0;
    }
    .menu {
        
        & li:nth-of-type(5) {
          margin-right: 0;
        }
    }
    .contacts {
        display: none;
    }



    .button {
        font-size: 12px;
    }
    .suppliers {
        grid-template-columns: auto auto;
        grid-template-rows: 6.54em 6.54em 6.54em 6.54em;
        padding: 0.3em;

        &__item {

            &:nth-child(1) {
                grid-column: 1/3;
                grid-row: 1/2;
                padding: 0 1em;
            }
            &:nth-child(2) {
                grid-row: -4/-3;
            }
            &:nth-child(2) img {
                max-width: 80%;
                margin: 0 auto;
            }
            &:nth-child(n+2):nth-child(-n+8) {
                padding: 1em;
            }
        }
    }
    .account {
        padding: 2.72em 0.5em 3.93em 0.5em;

        & img {
            max-height: 8.5em;
        }
    }
    .presentation {

        &__item {
            max-width: 33%;

            &_info h5 {
                font-size: 15px;
            }
            &_pop-up p {
                font-size: 15px;
            }
        }
    }
    .register {

        &__item {
        
            &:nth-child(2) {
                left: 1.9%;
            }
            &:before {
                font-size: 250px;
            }
        }
        h3 {
            font-size: 16px;
        }
    }
    .jackpot {
        
        &__interior {
            flex: 1 51%;
            margin: 0 auto;
            padding: 0 10%;
        }
        &__caption {
            font-size: 15px;
        }
        &__description {
            font-size: 15px;
        }
        &__bonus {
            flex-direction: column;
            align-items: center;
            font-size: 52px;
        }
        &-wb {
            justify-content: space-around;
        }
        &-wb__text-wrap svg {
            width: 7em;
        }
        &-wb__num-box {
            font-size: 60px;
        }
    }
    .conditions {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-gap: 0.8vh 1vw;

        &__item {
            padding: 1em 0.3em;

            &:nth-child(1) {
                grid-column: 1/3;
            }
            &:nth-child(2) {
                grid-column: 1/3;
                grid-row: 3/4;

                p {
                    margin-top: 1.68em;
                }
                br {
                  display: none;
                }
            }
            p {
                font-size: 13px;
            }
        }
    }
    .partners {
      bottom: 5vw;
      right: 5vw;

        p {
            font-size: 13px;
            line-height: 1.2;
        }
    }
    .description {
      justify-content: space-between;
      flex-direction: column-reverse;

      &__text {
        bottom: 0;

        p {
          text-align: center;
          font-size: 16px;

          br {
            display: none;
          }
        }
      }
      &__image {
        
        p {
          font-size: 16px;
        }
        &_text-one {
          top: -4%;
          left: -5%;
        }
        &_text-two {
          top: 5.5%;
          right: 22.5%;
        }
      }
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    body {
      font-size: 18px;
    }
    .body-opened {
      overflow: hidden;
    }
    h1.heading {
      font-size: 34px;
    }
    h2.heading {
      font-size: 30px;
    }
    .section {
        
        &_intro {
            padding: 2em 0.5em 0 0.5em;
        }
        &__inner {
            padding: 3.93em 1.2em 1.81em 1.2em;
        }
        &_partners {
          overflow: hidden;
        }
        &_advantages {
          background: radial-gradient(58% 28% at bottom, rgba(66, 101, 158, 0.67) 34%, rgba(18, 19, 19, 1) 90%);
        }
    }
    .header {
      display: flex;
      align-items: inherit;
      top: 0;
      left: 0;
      height: 50px;
      width: 100%;
      background: rgba(0, 0, 0, 1);
      transition: all 0.3s ease-out, background 1s ease-out;
      transition-delay: 0.2s;
      z-index: 100;
      padding-left: 0;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      &__logo {
        
        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        & img {
          max-width: 90%;
        }
      }
      &__burger-container {
        position: relative;
        display: inline-block;
        height: 50px;
        left: 91%;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        user-select: none;

        & #burger {
          width: 18px;
          height: 8px;
          position: relative;
          display: block;
          margin: -4px auto 0;
          top: 50%;

          & .bar {
            width: 100%;
            height: 1px;
            display: block;
            position: relative;
            background: $white;
            transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
            transition-delay: 0s;

            &.topBar {
              transform: translateY(0px) rotate(0deg);
            }
            &.btmBar {
              transform: translateY(6px) rotate(0deg);
            }
          }
        }
      }
      &__icon {
        display: inline-block;
        position: absolute;
        height: 100%;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        color: $white;
        font-size: 22px;
        left: 50%;
        transform: translateX(-50%);
      }
      & ul.menu {
        position: relative;
        display: block;
        padding: 3.5em 1.2em;
        list-style: none;

        & li.menu__item {
          border-bottom: 1px solid #333;
          transform: scale(1.15) translateY(-30px);
          opacity: 0;
          transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0s cubic-bezier(0.4, 0.01, 0.165, 0.99);

          & a {
            display: block;
            position: relative;
            color: $white;
            font-weight: 100;
            font-size: 17px;
            text-transform: inherit;
            line-height: 2.35;
            font-weight: 300;
            width: 100%;
          }
        }
      }
      &.menu-opened {
        height: 100%;
        background-color: #000;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;

        & .header__burger-container {
          transform: rotate(90deg);

          & #burger .bar {
            transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
            transition-delay: 0.2s;

            &.topBar {
              transform: translateY(4px) rotate(45deg);
            }
            &.btmBar {
              transform: translateY(3px) rotate(-45deg);
            }
          }
        }
        & ul.menu li.menu__item {
          visibility: visible;
          transition-delay: 0s;
          transform: translateZ(0);
          opacity: 1;

          &:nth-child(1) {transition-delay: 0.27s;}
          &:nth-child(2) {transition-delay: 0.34s;}
          &:nth-child(3) {transition-delay: 0.41s;}
          &:nth-child(4) {transition-delay: 0.48s;}
          &:nth-child(5) {transition-delay: 0.55s;}
          &:nth-child(6) {transition-delay: 0.62s;}
          &:nth-child(7) {transition-delay: 0.69s;}
          &:nth-child(8) {transition-delay: 0.76s;}
          &:nth-child(9) {transition-delay: 0.83s;}
        }
      }
    }
    .nav {
      visibility: hidden;
      transition: visibility 0s linear 1s;
      padding: 0.5em 1em 0 0;
    }
    .menu {
        
        & li:nth-of-type(5) {
          margin-right: 0;
        }
    }
    .button {
        font-size: 13px;
    }
    .suppliers {
        grid-template-columns: auto auto;
        grid-template-rows: 6.54em 6.54em 6.54em 6.54em;
        padding: 0.3em;

        img {
          max-width: 75%;
          margin: 0 auto;
        }
        &__item {

            &:nth-child(1) {
                grid-column: 1/3;
                grid-row: 1/2;
                padding: 0 1em;
            }
            &:nth-child(2) {
                grid-row: -4/-3;
            }
            &:nth-child(n+2):nth-child(-n+8) {
                padding: 1em;
            }
        }
    }
    .account {
        padding: 2.72em 0.5em 3.93em 0.5em;

        & img {
            max-height: 100%;
        }
    }
    .presentation {

        &__item {
            max-width: 100%;

            &_info h5 {
                font-size: 20px;
            }
            &_pop-up p {
                font-size: 18px;
            }
        }
    }
    .register {
        justify-content: center;
        padding: 3.5em;

        &__item {
            max-width: 100%;

            &:nth-child(1) {
                padding-bottom: 6em;
            }
            &:nth-child(2) {
                padding-bottom: 6em;
            }
            &:before {
                font-size: 280px;
            }
            &:nth-child(1):before {
                left: 20%;
            }
            &:nth-child(2):before {
                left: 16%;
            }
            &:nth-child(3):before {
                left: 17%;
            }
        }
        h3 {
            font-size: 14px;
        }
    }
    .jackpot {
        
        &__interior {
            flex: 1 51%;
            margin: 0 auto;
            padding: 0 10%;
        }
        &__caption {
            font-size: 14px;
        }
        &__description {
            font-size: 14px;
        }
        &__bonus {
            flex-direction: column;
            align-items: center;
            font-size: 52px;
        }
        &-wb {
            justify-content: space-around;
        }
        &-wb__text-wrap svg {
            width: 5em;
        }
        &-wb__num-box {
            font-size: 36px;
        }
    }
    .conditions {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-gap: 0.8vh 1vw;

        &__item {
            padding: 1em 0.3em;

            &:nth-child(1) {
                grid-column: 1/3;
            }
            &:nth-child(2) {
                grid-column: 1/3;
                grid-row: 3/4;

                p {
                    margin-top: 1.68em;
                }
            }
            p {
                font-size: 11.5px;
            }
        }
    }
    .partners {
      bottom: 8vw;
      right: 3vw;

      &-img {
        position: relative;
        right: 45vw;
        max-width: 175%;
      }
        p {
            font-size: 12px;
        }
    }
    .description {
      overflow: hidden;

      &__text {
        bottom: 0;
        
        p {
          text-align: center;
          font-size: 15px;

          &:nth-of-type(4) {
            padding-bottom: 3em;
          }
          br {
            display: none;
          }
        }
      }
      &__image {
        
        img {
          max-width: 120%;
          position: relative;
          right: 6vw;
        }
        p {
          font-size: 15px;
        }
        &_text-one {
          top: -7%;
          left: -8.5%;
        }
        &_text-two {
          top: 3.5%;
          right: 11.5%;
        }
      }
    }
    .footer {
      
      &__item {
        font-size: 13px;
      }
      &__text {

        p {
          font-size: 10px;
        }
      }
    }
}












